alias ug=~/Coding/Git-Utilities/UpdateGitRepos.sh
alias ugl=~/Coding/Git-Utilities/UpdateGitList.sh

alias general='source ~/venv/general/bin/activate'

alias vpn-start='sudo openvpn --config /etc/openvpn/vpn-us.conf --mute-replay-warnings'
alias osuvpn='ssh knueppel.2@stdlinux.cse.ohio-state.edu'

alias xampp='sudo /opt/lampp/manager-linux-x64.run'
alias note='$EDITOR "$(date +'%Y-%m-%d').txt"'

alias c='xclip -selection clipboard'
alias v='xclip  -selection clipboard -o'

function sk() {
    if ps -p $SSH_AGENT_PID &> /dev/null
    then
        ssh-add
    else
        eval `ssh-agent -s`
        ssh-add
    fi
}

